@use "../base/variables" as *;

.ui-button {
  padding: 8px 16px;
  border-radius: 8px;
  background-color: $color-brand-600;

  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: $color-white;
}

.ui-button_full {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
